body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: ArtifaktElement;
}

#header,
#preview,
#overlay {
  position: absolute;
  width: 100%;
}

#header {
  height: 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#preview,
#overlay {
  top: 3em;
  bottom: 0;
}

#overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  display: none;
}

#overlay > .notification {
  margin: auto;
  padding: 1em;
  max-width: 50%;
  background: white;
}

#header > * {
  height: 2em;
  margin: 0 0.5em;
  font-size: 1em;
  font-family: ArtifaktElement;
}

#header .title {
  flex: 1 0 auto;
  height: auto;
}

#models {
  flex: 0 1 auto;
  min-width: 2em;
}

.loading-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  z-index: 1000;
  text-align: center;
  font-weight: bold;
  user-select: none; /* optional, to avoid text selection */
  pointer-events: none; /* optional, prevent interaction */
}


.adsk-icon-print {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -4 30 30' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 6 2 18 2 18 9'%3E%3C/polyline%3E%3Cpath d='M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2'%3E%3C/path%3E%3Crect x='6' y='14' width='12' height='8'%3E%3C/rect%3E%3Cline x1='8' y1='6' x2='16' y2='6'%3E%3C/line%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; /* optional, for UX as a button */
}
